@font-face {
    font-family: 'Poppins Regular';
    src: url('regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Light';
    src: url('light.ttf') format('truetype');
}