$fontRegular: 'Poppins Regular';
$fontBold: 'Poppins Bold';
$fontLight: 'Poppins Light';

$primaryColor: #6A0000;
$secondaryColor: #DC9000;
$selectedButonColor: #E5A11F;
$backgroundColor: #E5E5E5;
$contentColor: #223263;
$greyColor: #9098B1;
$disabledColor: #C8C8C8;
$textLinkColor: #40BFFF;


$desktopBreakpoint: 992px;